.focused:focus {
    outline: 3px solid #008000;
}
.input-decor-after {
    background-color: green;
}
.span-decor {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    border: 2px darkgray solid;
    border-radius: 10px;
    color: darkgray;
}
.button-decor {
    color: grey;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 10px;
    border: 1px grey solid;
    background-color: white;
}
.change-color {
    background-color: green;
    color: white;
}
.change-color-mistake {
    background-color: red;
    color: white;
}
